
.container {
  /*background-color: blue;*/
  text-decoration: none;
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}

.chef_button {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: orange;
}

.back_img {
      background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center center; }

.navbar {
  background-color: white;
}

.navbar ul {
list-style-type: none;
}
